/* src/index.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.App {
text-align: center;
}

input {
padding: 8px;
margin-right: 8px;
border: 1px solid #ccc;
border-radius: 4px;
}

button {
padding: 8px 16px;
border: none;
border-radius: 4px;
background-color: #ab05a5;
color: white;
cursor: pointer;
}

button:hover {
background-color: #bc0c9f;
}
  