.qr-generado {
    padding: 20px;
    margin: 20px auto;
    border: 5px solid #000; 
    border-radius: 10px; 
    display: inline-block; 
    background-color: #fff; 
    text-align: center; 
    width: auto; 
    height: auto; 
}

.qr-container {
    text-align: center; 
    margin-top: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: auto; 
    height: auto; 
}

.boton-descarga {
    position: relative; 
    overflow: hidden; 
    margin-top: 10px; 
    padding: 16px 32px;
    border: none;
    border-radius: 12px;
    background: black;
    color: azure;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease; 
    z-index: 1; 
}

.boton-descarga:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
    background-size: 800%;
    border-radius: 12px;
    filter: blur(8px);
    animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.texto-agregado {
    margin-top: 10px; 
    font-size: 20px; 
    color: #333; 
    text-decoration: none;
}

.texto-agregado .highlight {
    color: #333; 
    transition: color 0.3s ease; 
}

.texto-agregado .highlight:hover {
    color: rgb(255, 0, 255); 
}

.highlight {
    color: #333; 
    margin-left: 5px;
    text-decoration: none;
}

.highlight:hover {
    color: purple; 
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content button {
    margin: 10px;
}